@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Source+Code+Pro:wght@200&display=swap");

:root {
  --primary-color: aqua;
  --secondary-color: fuchsia;
  --primary-color-translucid: rgba(0, 255, 255, 0.3);
  --secondary-color-translucid: rgba(255, 0, 255, 0.3);

  --accent-color: white;

  --text-color: white;

  --box-background-color: #0009;

  --header-font-size: 200%;
  --header-font-size-medium: 160%;
  --header-font-size-small: 120%;

  --navbar-font-size: 70%;
  --page--font-size-title: 200%;

  --cards-container-gap: 7%;

  --cards-font-size: 70%;

  --button-padding: 2%;
  --button-font-size: 50%;

  --footer-font-size: 200%;
  --footer-font-size-medium: 100%;
  --footer-font-size-small: 50%;

  --card_proyect--font-size-title: 200%;
  --card_proyect--font-size-subtitle: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--text-color);

  font-family: "Source Code Pro", monospace;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.1fr;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;

  background-image: url(img/fondo.svg);
  background-size: contain;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 85%;
}

.cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;

  gap: var(--cards-container-gap);

  width: 100%;
  height: 70%;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  font-size: var(--header-font-size);

  background: linear-gradient(
    0deg,
    var(--box-background-color) 0%,
    transparent 100%
  );
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;

  font-size: var(--navbar-font-size);

  width: 100%;
  height: 30%;

  padding: 2%;
}

/* PAGE */

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  overflow: scroll;

  width: 100%;
  height: 100%;

  padding: 2%;
}
.page__title {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: var(--page--font-size-title);
}

.page__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2%;

  width: 70%;
  height: 100%;

  font-size: var(--page--font-size-title);
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  /* position: fixed;
    bottom:0; */

  width: 100%;
  height: 100%;

  background-color: var(--box-background-color);
}
.footer__element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 25%;
  height: 90%;

  font-size: var(--footer-font-size-medium);
}
.footer a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
}
.footer img {
  width: 20%;
}

/* ELEMENTS */

a {
  color: var(--primary-color);
  text-decoration: none;

  transition: 0.5s;
}

a:hover {
  color: var(--secondary-color);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20%;
  height: 40%;

  border-top: 10px double rgba(255, 0, 255, 0.315);
  border-left: 10px double rgba(0, 255, 255, 0.315);
  border-bottom: 10px double rgba(0, 255, 255, 0.315);
  border-right: 10px double rgba(255, 0, 255, 0.315);

  border-radius: 10%;

  font-size: var(--cards-font-size);

  padding: 1%;

  background-color: var(--box-background-color);
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 200%;
  font-weight: 600;

  width: 100%;
  height: 100%;

  padding: 2%;

  filter: drop-shadow(10px -10px 5px var(--secondary-color-translucid))
    drop-shadow(-10px 10px 5px var(--primary-color-translucid));
}

.card__content_img {
  display: flex;

  justify-content: center;
  align-items: center;
  max-width: 50%;
  height: 100%;
}

.card__content_img img {
  height: 100%;
  filter: drop-shadow(0px 0px 5px black);
}

button {
  background-color: transparent;

  border: 1px solid var(--primary-color);

  color: var(--accent-color);
  font-size: var(--button-font-size);

  padding: var(--button-padding);

  border-radius: 5%;

  transition: all 0.5s;
}

button:hover {
  border-color: var(--secondary-color);
  color: var(--accent-color);
}
button:active {
  color: var(--primary-color);
}

/* ASIDE */

.aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 100%;
}

.aside__pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.aside__pic--personal img {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
  transform: scale(0.8) translateY(15%);
}

.aside__pic img {
  width: 100%;
  height: 100%;

  transition: all 1s;
}

.aside__pic img:hover {
  filter: drop-shadow(0px 0px 5px var(--primary-color));
}

/* FORM */

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 70%;
  height: 100%;

  border: 2px solid gr1een;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;

  width: 50%;
  height: 100%;
}

/* PROYECTOS */

.cards_container--proyect {
  height: 100%;
}

.card_proyect {
  display: flex;
  flex-direction: column;
  gap: 2%;

  width: 17%;
  height: 100%;

  border-radius: 5%;

  padding: 1%;

  /* background-color: var(--box-background-color); */

  box-shadow: 0px 5px 20px var(--primary-color-translucid);
  transition: 1s;
}
.card_proyect:hover{
  box-shadow: 0px 5px 20px var(--primary-color);
  transform: translateY(-2%);
}


.card_proyect__pic {
  width: 100%;
  height: 40%;
}

.card_proyect__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  height: 50%;

  padding: 2%;
}

.card_proyect__link {
  width: 100%;
  height: 10%;
}

.card_proyect__pic img {
  width: 100%;
  height: 100%;
}

.card_proyect__content--title {
  /* height: 50%; */
  font-size: var(--card_proyect--font-size-title);
}
.card_proyect__content--subtitle {
  /* height: 50%; */
  font-size: var(--card_proyect--font-size-subtitle);
}

.card_proyect__link a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
}
.card_proyect__link img {
  width: 20%;
}

/* FORM ELEMENTS */

.form__element {
  width: 100%;
  height: 20%;

  padding: 5%;
  background-color: transparent;

  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 3%;

  color: var(--primary-color);
  font-size: 125%;

  transition: all 1s;
}

::placeholder {
  color: var(--primary-color);
  font-size: 100%;
}

.form__element:focus {
  outline: none;

  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.textarea {
  height: 100%;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
}
.form__buttons button {
  font-size: 150%;
  width: 40%;
}
.form__buttons button:active {
  transition: all 0.1s;
}
/* OTROS */

.oculto {
  display: none;
}

.divider {
  width: 2px;
  height: 50%;

  background-color: var(--accent-color);
}

@media screen and (max-width: 1300px) {
  .card_proyect {
    width: 30%;
  }
  .card__content {
    flex-wrap: wrap;

    filter: drop-shadow(10px 10px 5px var(--secondary-color-translucid))
      drop-shadow(-10px 10px 5px var(--primary-color-translucid));
  }
}
@media screen and (max-width: 900px) {
  .header {
    z-index: 1;
    font-size: var(--header-font-size-medium);
  }
  .aside {
    position: absolute;
    width: 100%;

    z-index: -1;

    filter: blur(7px);
  }
  .aside__aboutme {
    display: none;
  }

  .page__info {
    position: relative;

    width: 100%;

    padding: 5%;
  }
  .page__title {
    width: 100%;

    padding: 5%;
  }
  .cards_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;

    padding-top: 2%;
    overflow: scroll;
  }
  .card {
    width: 100%;
    padding: 2%;
  }
  .card__content {
    height: auto;
  }
  .card img {
    padding: 5%;
    height: 100%;
    width: 40%;
  }
  .card_proyect {
    /* ---------------------------------------------- */
    height: 70%;
    width: 45%;
  }

  .form_container{
    width: 100%;
  }.form{
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    gap: 10%;

    padding: 5%;

    font-size: var(--header-font-size-small);
  }
  .page {
    padding: 10%;
  }
  .page__title {
    font-size: 120%;
  }
  .footer {
    padding: 5%;
    font-size: calc(var(--footer-font-size-medium));
  }

  .footer__element {
    width: 100%;
    height: 60%;
    justify-content: space-around;
  }

  .card {
    padding: 1%;
    min-height: 200px;
  }

  .card__content {
    justify-content: space-around;

    height: 50%;
  }

  .card__content img {
    width: 100%;
  }

  .cards_container--proyect {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 5%;
  }
  .card_proyect {
    width: 80%;
    padding: 5%;
  }
  .card_proyect__content {
    flex-direction: column;
    padding: 3%;
  }
  .card_proyect__content--subtitle {
    height: auto;
    padding: 3%;
  }
  .card_proyect__content--title {
    padding: 3%;
  }

  .page__info {
    font-size: 150%;
  }

  .divider {
    height: 5%;
  }
  .form__buttons{
    flex-direction: column;
  }
  .form__buttons button{
    width: 90%;
    margin: 2%;
  }
}

@media screen and (max-width: 350px) {
  .header {
    font-size: var(--header-font-size-small);
  }

  .footer {
    font-size: calc(var(--footer-font-size-medium));
  }

  .footer__element {
    width: 100%;
    height: 60%;
    justify-content: space-around;
  }

  .card_proyect {
    width: 70%;
  }
  .card_proyect__pic {
    padding: 3%;
  }

  .divider {
    height: 5%;
  }

}
